.full_name {
    padding-top: 30px;
}

.size_name,
.size_email,
.size_address,
.size_phone ,.select_number,.input-control{
    width: 90%;
    border-radius: 5px;
    height: 30px;
    margin-left: 20px;
}

.full_name,.email_address,
.div_address,
.div_phone,.div_so_ve,.div_select {
    padding-top: 20px;
    color: rgb(37, 154, 174);
    font-size: 20px;
    margin-left: 20px;
}

.sub {
    background-color: rgb(19, 198, 99);
    font-size: 20px;
    margin-top: 40px;
    width: 90%;
    border-radius: 5px;
    margin-left: 25px;
}

.div_container {
    border: 3px solid #2ddb28;
    height: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 550px;
}

.save_check {
    display: flex;
    padding-top: 20px;
    margin-left: 20px;
}

.save_phone {
    color: rgb(37, 154, 174);
    font-size: 20px;
}

.nav {
    min-height: 42px;
    color: white;
    background-color: orange;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    padding-left: 0;
    margin: auto 16px;
}

.nav-item {
    color: white;
    list-style: none;
    margin: 8px;
    display: inline-block;
}
.form{
    display: flex;
    justify-content: center;
}
.bor_bottom{
    margin-left: 10px;
}