.div_heard {
    height: 160px;
    width: auto;
    border: 1px solid #ccc;
    display: flex;
    background-color: rgb(19, 198, 99);
}

.div_name {
    color: white;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 20px;
    font-style: italic;
}

.div_img_a {
    height: auto;

}

.div_item {
    display: flex;
    margin-top: 50px;
    margin-left: 30px;
}

.div_hotline {
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: white;
}

.div_sohotline {
    font-size: 30px;
    color: white;
}

.div_navbar {
    display: flex;
    margin-left: 30px;
}

.abc {
    background-color: orange;
    height: 50px;
}

.navbar-brand {
    color: red;
}

.footer {
    border: 1px solid #ccc;
    background-color: rgb(19, 198, 99);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color_black {
    font-size: 15px;
    color: white;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 1000px;
    margin: 20px 200px 20px 200px;
}

tr:nth-child(even) {
    background-color:
        /* rgb(26, 163, 167) */
        rgb(19, 198, 99);
}

.div_lich {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 30px;
    color: orange;
}