body {
  color: aliceblue;
  background-image: url(//th.bing.com/th/id/R.28c748889e8d70a00c85eca5679fca90?rik=rjcyIjWRXXC0Wg&pid=ImgRaw&r=0);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
