.div_heard {
    height: 160px;
    width: auto;
    border: 1px solid #ccc;
    display: flex;
    background-color: rgb(19, 198, 99);
}

.div_name {
    color: white;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 20px;
    font-style: italic;
}

.div_img_a {
    height: auto;

}

.div_item {
    display: flex;
    margin-top: 50px;
    margin-left: 30px;
}

.div_hotline {
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.div_sohotline {
    font-size: 30px;
}

.div_navbar {
    display: flex;
    margin-left: 30px;
}

.abc {
    background-color: red;
    height: 50px;
}

.navbar-brand {
    color: red;
}

.color_blue {
    color: rgb(37, 154, 174);
    padding-left: 10px;
}

.bor_bottom {
    padding-bottom: 15px;
    border-bottom: 3px solid #2ddb28;
    padding-left: 10px;
}

.full_name ,.div_so_ve{
    padding-top: 30px;
    color: rgb(37, 154, 174);
    font-size: 20px;
    margin-left: 20px;
}

.size_name,
.size_email,
.size_pass,
.size_conf ,.select_number,.input-control{
    width: 90%;
    border-radius: 5px;
    height: 25px;
    margin-left: 20px;
}

.email_address,
.pass_word,
.confirm_pass,.div_select {
    padding-top: 20px;
    color: rgb(37, 154, 174);
    font-size: 20px;
    margin-left: 20px;
}

.sub {
    background-color: rgb(19, 198, 99);
    font-size: 20px;
    margin-top: 40px;
    width: 90%;
    border-radius: 5px;
    margin-left: 25px;
}

.container {
    border: 3px solid #2ddb28;
    height: 550px;
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.save_check {
    display: flex;
    padding-top: 20px;
    margin-left: 20px;
}

.save_pass {
    color: rgb(37, 154, 174);
    font-size: 20px;
}

.nav {
    min-height: 42px;
    color: white;
    background-color: orange;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    padding-left: 0;
    margin: auto 16px;
}

.nav-item {
    color: white;
    list-style: none;
    margin: 8px;
    display: inline-block;
}

.footer {
    border: 1px solid #ccc;
    background-color: #27ae60;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color_black {
    font-size: 15px;
    color: white;
}
